<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Programación para Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mihistoria">
                <span class="bi bi-profile-circle-fill-nav-menu" aria-hidden="true"></span> Mi Historia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="conversor">
                <span class="bi bi-currency-exchange-fill-nav-menu" aria-hidden="true"></span> Conversor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calculadoraDias">
                <span class="bi bi-calendar-date-fill-nav-menu" aria-hidden="true"></span> Calculadora Dias
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listaNumeros">
                <span class="bi bi-list-numbers-fill-nav-menu" aria-hidden="true"></span> Lista de Numeros
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listaPrimos">
                <span class="bi bi-numbers-fill-nav-menu" aria-hidden="true"></span> Numeros Primos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listaActividades">
                <span class="bi bi-check-list-nav-menu" aria-hidden="true"></span> Lista de Actividades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listaCanciones">
                <span class="bi bi-song-nav-menu" aria-hidden="true"></span> Lista de Canciones
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="examen">
                <span class="bi bi-exam-nav-menu" aria-hidden="true"></span> Examen
            </NavLink>
        </div>

    </nav>
</div>

