@page "/mihistoria"

<PageTitle>Mi Historia</PageTitle>

<div class="bg-light p-4 mb-4 rounded">
    <h1 class="mb-4">Mi historia</h1>
    <p class="lead">A continuación les compartiré información relevante de mi vida.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="https://i.pinimg.com/236x/cb/a3/3a/cba33a74fa3514b8a304f0ceb7c87210.jpg" class="card-img card-image-s" alt="Imagen 1">
                    <h5 class="card-title">Formación</h5>
                    <p class="card-text">Informacion acerca de la formacion academica del individuo.</p>
                    <button class="btn btn-primary">Conocer más</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="https://img.freepik.com/premium-vector/sport-hobby-activity-silhouette_7232-399.jpg" class="card-img card-image-s" alt="Imagen 1">
                    <h5 class="card-title">Hobbies</h5>
                    <p class="card-text">Informacion acerca de los hobbies del individuo.</p>
                    <button class="btn btn-primary">Conocer más</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkiENcfzewm0pudNUc6Dza8a2sXr3YXzrAMQ&s" class="card-img card-image-s" alt="Imagen 1">
                    <h5 class="card-title">Mi Carrera</h5>
                    <p class="card-text">Informacion acerca de la carrera universitaria del individuo.</p>
                    <button class="btn btn-primary">Conocer más</button>
                </div>
            </div>
        </div>

    </div>
</div>